openapi: 3.2.0
info:
  title: Secure Redact API
  version: v3
  x-generated: '2026-07-20'
  x-method: searched
  x-source: https://docs.secureredact.co.uk (public Postman collection "Secure Redact API - v3")
  description: 'Secure Redact is Pimloc''s AI-powered platform for automated redaction of personally identifiable information (PII) from video, audio, images and documents — blurring faces, license plates, screens, text and full bodies. The v3 REST API lets you upload media by URL or file, monitor processing via status callbacks (webhooks) or polling, trigger redaction, and download the redacted media and audio transcripts. Two flows are supported: a Standard Flow (fully automated, no UI) and an Enterprise Flow (review/edit in the Secure Redact UI, with projects and users). Authentication is a token exchange: HTTP Basic (client_id / client_secret) on the token endpoint returns a short-lived JWT bearer token used on all other endpoints.'
  contact:
    name: Secure Redact Support
    url: https://www.secureredact.ai/contact-us
  termsOfService: https://www.secureredact.ai/terms-of-service
servers:
- url: https://app.secureredact.co.uk
  description: Secure Redact v3 production API
tags:
- name: Secure Redact API
paths: {}
webhooks:
  stateCallback:
    post:
      operationId: stateCallbackEvent
      summary: Media state callback
      description: If a state_callback URL was supplied on upload, Secure Redact periodically POSTs media progress/status messages to it as the media moves through the workflow (e.g. detected, completed).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Media state/progress event payload.
      responses:
        '200':
          description: Acknowledged
      tags:
      - Secure Redact API
  exportCallback:
    post:
      operationId: exportCallbackEvent
      summary: Export callback
      description: If an export_callback URL was supplied on upload, Secure Redact POSTs the exported media info to it once redaction completes. Requests are authenticated with the supplied export_token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Export/completed event payload.
      responses:
        '200':
          description: Acknowledged
      tags:
      - Secure Redact API
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic using client_id (username) and client_secret (password), only on /api/v3/token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived JWT access token returned by /api/v3/token.
